---
import Option from "./Option.astro"
---
<div>
	<header class="bg-slate-900 h-20 w-screen sticky">
		<nav class="h-full flex justify-between">
			<div class="flex items-center h-full">
				<a href="#" class="text-white text-6xl font-inter px-20">KINSTA</a>
				<a href="#" class="text-white px-2 flex bg-slate-700 rounded group ">BUILDINGS<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ml-1 group-hover:rotate-180 duration-200" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z"/></svg></a>
			</div>
			<div class="">
				<ul class="h-full flex items-center">
					<li class="flex items-center h-full">
						<svg xmlns="http://www.w3.org/2000/svg" width="34" height="24" viewBox="0 0 24 24"><path fill="white" d="M10 21h4c0 1.1-.9 2-2 2s-2-.9-2-2m11-2v1H3v-1l2-2v-6c0-3.1 2-5.8 5-6.7V4c0-1.1.9-2 2-2s2 .9 2 2v.3c3 .9 5 3.6 5 6.7v6zm-4-8c0-2.8-2.2-5-5-5s-5 2.2-5 5v7h10z"/>
							
							<!-- Círculo de notificación -->
							<circle cx="24" cy="5" r="4" fill="red" />
						  </svg>
					</li>
					<li class="">
						<Option title="Docs" iconName="cube" class="text-white px-2 "  >

						</Option>
	
					</li>
					<li>
						<Option title="Kista user"
						class="text-white group"
						iconName="apply"
						iconName2="chevron"
						>
			

						</Option>
					</li>
				</ul>
			</div>
		</nav>

	</header>
</div>